<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [7]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /opt/homebrew/lib/python3.11/site-packages (1.3.9)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [8]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/homebrew/lib/python3.11/site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (8.23.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (5.14.2)
Requirement already satisfied: typing-extensions in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (4.11.0)
Requirement already satisfied: pexpect>4.3 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from ipython>=1.0->ipython-sql) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/bmccarthy/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [11]:
!pip install -q pandas

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [12]:
%sql sqlite:///my_data1.db

In [13]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [14]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [15]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [16]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [28]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCAFS SLC%'LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2017-12-15', '15:36:00', 'F9 FT  B1035.2', 'CCAFS SLC-40', 'SpaceX CRS-13', 2205, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2018-01-08', '1:00:00', 'F9 B4 B1043.1', 'CCAFS SLC-40', 'Zuma', 5000, 'LEO', 'Northrop Grumman', 'Success (payload status unclear)', 'Success (ground pad)'),
 ('2018-01-31', '21:25:00', 'F9 FT  B1032.2', 'CCAFS SLC-40', 'GovSat-1 / SES-16', 4230, 'GTO', 'SES', 'Success', 'Controlled (ocean)'),
 ('2018-03-06', '5:33:00', 'F9 B4 B1044', 'CCAFS SLC-40', 'Hispasat 30W-6  PODSat', 6092, 'GTO', 'Hispasat  NovaWurks', 'Success', 'No attempt'),
 ('2018-04-02', '20:30:00', 'F9 B4  B1039.2', 'CCAFS SLC-40', 'SpaceX CRS-14', 2647, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [32]:
%sql SELECT Customer,SUM(Payload_Mass__kg_) FROM SPACEXTABLE GROUP BY Customer;

 * sqlite:///my_data1.db
Done.

[('ABS Eutelsat', 7759),
 ('AsiaSat', 8963),
 ('Bulsatcom', 3669),
 ('CONAE', 3000),
 ('CONAE, PlanetIQ, SpaceX', 3130),
 ('Canadian Space Agency (CSA)', 4200),
 ('EchoStar', 5600),
 ('Es hailSat', 5300),
 ('Hisdesat exactEarth SpaceX', 2150),
 ('Hispasat  NovaWurks', 6092),
 ('Inmarsat', 6070),
 ('Intelsat', 6761),
 ('Iridium Communications', 67200),
 ('Iridium Communications GFZ ‚ NASA', 6460),
 ('KT Corporation', 3500),
 ('MDA', 500),
 ('NASA (CCD) ', 12055),
 ('NASA (CCDev)', 12530),
 ('NASA (CCP)', 12500),
 ('NASA (COTS)', 525),
 ('NASA (COTS) NRO', 0),
 ('NASA (CRS)', 45596),
 ('NASA (CRS), Kacific 1', 2617),
 ('NASA (CTS)', 12050),
 ('NASA (LSP)', 362),
 ('NASA (LSP) NOAA CNES', 553),
 ('NASA / NOAA / ESA / EUMETSAT', 1192),
 ('NRO', 5300),
 ('NSPO', 475),
 ('Northrop Grumman', 5000),
 ('Orbcomm', 3350),
 ('PSN, SpaceIL / IAI', 4850),
 ('Republic of Korea Army, Spaceflight Industries (BlackSky)', 5500),
 ('SES', 23355),
 ('SES EchoStar', 5200),
 ('SKY Perfect JSAT Group', 9296),
 ('Sky Perfect JSAT, Kacific 1', 6956),
 ('SpaceX', 185220),
 ('SpaceX, Planet Labs', 31010),
 ('SpaceX, Planet Labs, PlanetIQ', 15440),
 ('SpaceX, Spaceflight Industries (BlackSky), Planet Labs', 14932),
 ('Spacecom', 6500),
 ('Spaceflight Industries', 4000),
 ('Telesat', 14135),
 ('Telkom Indonesia', 5800),
 ('Thaicom', 6425),
 ('Thales-Alenia/BTRC', 3600),
 ('Turkmenistan National Space Agency', 4707),
 ('U.S. Air Force', 4990),
 ('U.S. Air Force NASA NOAA', 570),
 ('U.S. Space Force', 4311),
 ('USAF', 4400),
 ('USSF', 4311)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [33]:
%sql SELECT Booster_Version,AVG(Payload_Mass__kg_) FROM SPACEXTABLE WHERE Booster_Version LIKE "F9 V1.1";

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [20]:
%sql SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome LIKE "Success (ground pad)";

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [21]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome='Success (drone ship)' AND Payload_Mass__kg_ BETWEEN 4000 AND 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [22]:
%sql SELECT COUNT(Mission_Outcome) FROM SPACEXTABLE WHERE Mission_Outcome LIKE 'Failure%';

 * sqlite:///my_data1.db
Done.

[(1,)]

In [23]:
%sql SELECT COUNT(Mission_Outcome) FROM SPACEXTABLE WHERE Mission_Outcome LIKE 'Success%';

 * sqlite:///my_data1.db
Done.

[(100,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [24]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE Payload_Mass__kg_ = (SELECT MAX(Payload_Mass__kg_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [25]:
%sql SELECT substr(Date,6,2) AS Month, Landing_Outcome, Booster_Version, Launch_Site \
FROM SPACEXTABLE WHERE substr(Date,0,5)='2015' AND Landing_Outcome='Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [26]:
%sql SELECT Landing_Outcome, COUNT(*) AS Outcome_Count FROM SPACEXTABLE \
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>